/* hero */
.hero {
  background-color: #c4c4c4;
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-mobile.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 1199px) {
    height: 400px;
  }
}
@media (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img-mobile@2x.jpg");
    background-size: cover;
  }
}
@media (min-width: 489px) {
  .hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img-tablet.jpg");
    background-size: cover;
  }
  @media (min-resolution: 2dppx) {
    .hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-img-tablet@2x.jpg");
      background-size: cover;
    }
  }
}
@media (min-width: 769px) {
  .hero__overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img-desktop.jpg");
    background-size: cover;
  }
  @media (min-resolution: 2dppx) {
    .hero__overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-img-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
.hero__container {
  padding: 118px 0px;
  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
  }
}
.hero__title {
  color: $main-white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.6;
    max-width: 360px;
  }
}
.hero__button {
  background-color: $accent;
  color: $main-white;

  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: $secondary-text-size;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-style: unset;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  cursor: pointer;

  margin: auto;
}
