/*common adjustment and defaults discard*/
body {
  background-color: $main-white;
  font-family: $primary-font-family;
  font-style: normal;
}
body.modal-open {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-text-colour;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding-inline-start: 0px;
}

.list {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: $primary-line-height;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.2;

    margin-bottom: 30px;
  }
}
