/*footer address*/
.footer {
  background-color: $hero-footer-colour;
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (max-width: 1199px) {
  //   text-align: center;
  // }
}
.footer__banner {
  display: flex;

  justify-content: space-around;
  align-items: baseline;

  @media screen and (max-width: 767px) {
    align-items: center;
    flex-direction: column;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.footer__address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.footer__logo {
  display: flex;

  color: $main-white;

  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.footer__coordinates {
  color: $main-white;

  font-weight: $primary-text-weight;
  font-size: $primary-text-size;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: inherit;

  margin-bottom: 9px;

  width: fit-content;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: $footer-link-colour;

  text-decoration: none;
  font-weight: $primary-text-weight;
  font-size: $primary-text-size;
  line-height: 1.7;
  letter-spacing: 0.03em;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
