.contacts {
  margin-left: auto;
}

.contacts__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: $primary-text-colour;

  text-decoration: none;
  font-weight: 500;
  font-size: $primary-text-size;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $accent;
  }
}

.contacts__icon-envelope {
  padding: 0;
  border: none;

  margin-right: 10px;
  fill: currentColor;

  justify-content: center;
  align-items: center;
}
.contacts__icon-phone {
  padding: 0;
  border: none;

  margin-right: 10px;
  fill: currentColor;

  justify-content: center;
  align-items: center;
}
