/* features */
.features {
  padding-bottom: 0;
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.features__item {
  &:not(:last-child) {
    // @media screen and (min-width: 768px) {
    //   margin-right: 30px;
    // }
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
.features__icon {
  padding: 0;
  border: none;
  height: 120px;

  background-position: center;
  background-color: $secondary-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features__title {
  font-weight: 700;
  font-size: $primary-text-size;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__article {
  font-weight: $primary-text-weight;
  font-size: $primary-text-size;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primary-text-colour;

  margin-top: 0px;
  margin-bottom: 0px;
}
