$primary-text-colour: #757575;
$secondary-text-colour: #212121;
$title-text-colour: #212121;
$accent: #2196f3;
$hero-footer-colour: #2f303a;
$main-white: #ffffff;
$footer-link-colour: rgba(255, 255, 255, 0.6);
$secondary-background-colour: #f5f4fa;
$primary-icon-colour: #afb1b8;

$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
$primary-text-weight: 400;
$rare-text-weight: 700;
$primary-text-size: 14px;
$secondary-text-size: 16px;
$primary-line-height: 1.2;
